h1.flashy {
  color: red;
  font-style: italic;
}

p.flashy {
  color: red;
  font-style: italic;
}

h2.flashy{
  color: red;
  font-style: italic;
}

li.best {
  font-weight: 600;
  font-family: sans-serif;
}

li.bold {
  font-style: bold;
  color: purple;
}